
<div *ngFor="let pokemon of pokemonAll">

    <div class="card" style="width: 18rem;">
        <img src="{{ pokemon.picture }}" class="card-img-top" alt="{{ pokemon.name }}">
        <div class="card-body">
            <h5 class="card-title">{{ pokemon.name }}</h5>
            <p class="card-text">{{ pokemon.hp }}</p>
            <p class="card-text">{{ pokemon.cp }}</p>
            <p class="card-text">{{ pokemon.types }}</p>
            <a (click)="displayPokemonOne(pokemon.id)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#affichePokemon">Voir</a>
            <a href="#" class="btn btn-danger">Supprimer</a>
        </div>
    </div>
</div>

<div class="modal fade text-center" id="affichePokemon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">name</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="" style="width: 15em">
          <p>test</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>